.navbar-navbar {
  width: 100%;
  height: 136px;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: auto;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: 21px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 28px;
}
.navbar-navlink {
  display: contents;
}
.navbar-branding-logo {
  width: 379px;
  cursor: pointer;
  height: auto;
  align-self: center;
  box-sizing: content-box;
  transition: 0.3s;
  text-decoration: none;
}
.navbar-branding-logo:hover {
  width: 389px;
}
.navbar-nav-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 100px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-nav-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-button {
  flex: 0 0 auto;
  width: 175px;
  height: 60px;
  display: flex;
  align-self: center;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 23, 0.43);
  transition: 0.3s;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(255, 158, 221) 3.00%,rgb(215, 0, 197) 99.00%);
}
.navbar-button:hover {
  width: 180px;
  height: 65px;
  max-width: auto;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 23, 0.43);
  max-height: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 5px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  background-image: radial-gradient(circle at center, rgb(0, 213, 255) 0.00%,rgb(0, 76, 255) 99.00%);
}
.navbar-text {
  color: #ffffff;
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: center;
  font-family: Poppins;
}
.navbar-root-class-name {
  max-width: 100%;
  background-color: #ffffff;
}
.navbar-root-class-name1 {
  max-width: auto;
  background-color: #ffffff;
}
.navbar-root-class-name2 {
  background-color: #ffffff;
}
.navbar-root-class-name3 {
  background-color: #ffffff;
}
.navbar-root-class-name4 {
  background-color: #ffffff;
}
.navbar-root-class-name5 {
  background-color: #ffffff;
}
.navbar-root-class-name6 {
  max-width: 100%;
  background-color: #ffffff;
}
.navbar-root-class-name7 {
  max-width: 100%;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .navbar-branding-logo {
    margin: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .navbar-nav-content {
    display: flex;
    margin-left: 111px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
    padding-top: 14px;
    padding-bottom: 12px;
    justify-content: center;
  }
  .navbar-branding-logo {
    top: 0px;
    left: 0px;
    width: 303px;
    bottom: 0px;
    height: 121px;
    margin: auto;
    align-self: center;
  }
  .navbar-nav-content {
    width: 356px;
    height: 102px;
    display: flex;
    margin-left: 37px;
  }
  .navbar-nav-links {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: 6px;
  }
  .navbar-branding-logo {
    width: 195px;
    height: auto;
    max-width: 200px;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
  }
  .navbar-nav-content {
    width: 100%;
    height: 100%;
    align-self: center;
    margin-left: 5px;
    flex-direction: row;
  }
  .navbar-button {
    width: 105px;
    height: 35px;
    max-width: 117px;
    align-self: center;
    max-height: 43px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .navbar-text {
    width: auto;
    height: auto;
    font-size: 11px;
    align-self: center;
    text-align: center;
  }
}

.testimonial-card1-testimonial-card {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  padding-top: 32px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  scroll-behavior: auto;
  background-image: linear-gradient(135deg, rgb(255, 181, 229) 4.00%,rgb(215, 0, 197) 99.00%);
  background-repeat: top left;
  background-position: center,top left;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.testimonial-card1-icon {
  fill: #D9D9D9;
  width: 2rem;
  display: none;
  margin-bottom: var(--dl-space-space-unit);
}
.testimonial-card1-image {
  width: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-right: Halfnit;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card1-title {
  color: #ffffff;
  font-size: 1.6em;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.testimonial-card1-title:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8), 1px 1px 3px rgba(255, 255, 255, 0.7);
}
.testimonial-card1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-text {
  color: #ffffff;
  overflow: auto;
  font-size: 20px;
  max-height: var(--dl-size-size-xxlarge);
  text-align: center;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card1-text:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8), 1px 1px 3px rgba(255, 255, 255, 0.7);
}
.testimonial-card1-text1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card1-text1:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8), 1px 1px 3px rgba(255, 255, 255, 0.7);
}
.testimonial-card1-text2 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.testimonial-card1-text2:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8), 1px 1px 3px rgba(255, 255, 255, 0.7);
}
.testimonial-card1-image1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  box-shadow: 2px 2px 10px 0px rgba(0, 23, 84, 0.44);
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card1-image1:hover {
  width: 105px;
  height: 105px;
}
.testimonial-card1-icon2 {
  fill: #D9D9D9;
  width: 2rem;
  height: auto;
  display: none;
  margin-top: var(--dl-space-space-unit);
}
.testimonial-card1-image2 {
  width: var(--dl-size-size-small);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}




@media(max-width: 991px) {
  .testimonial-card1-text2 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .testimonial-card1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card1-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card1-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.trust-pilot-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.trust-pilot-code-embed {
  width: 100%;
  height: 100%;
}
.trust-pilot-root-class-name {
  height: var(--dl-size-size-maxwidth);
  display: none;
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 28px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
}
.footer-image {
  width: 399px;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-bottom: 6px;
}
.footer-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-container2 {
  width: 65px;
  cursor: pointer;
  height: 65px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("public/Icons/discord-200h.png");
  background-position: center;
}
.footer-container2:hover {
  width: 68px;
  height: 68px;
  background-image: url("https://i.imgur.com/t9EOnTY.png");
}
.footer-link1 {
  display: contents;
}
.footer-container3 {
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("public/Icons/youtube-200h.png");
  background-position: center;
}
.footer-container3:hover {
  width: 53px;
  height: 53px;
  background-image: url("https://i.imgur.com/bCwQUur.png");
}
.footer-link2 {
  display: contents;
}
.footer-container4 {
  width: 48px;
  cursor: pointer;
  height: 48px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("public/Icons/gmail-200h.png");
  background-position: center;
}
.footer-container4:hover {
  width: 51px;
  height: 51px;
  background-image: url("https://i.imgur.com/vLJkQhA.png");
}
.footer-link3 {
  display: contents;
}
.footer-container5 {
  width: 44px;
  cursor: pointer;
  height: 44px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("public/Icons/instagram-200h.png");
  background-position: center;
}
.footer-container5:hover {
  width: 47px;
  height: 47px;
  background-image: url("https://i.imgur.com/D4wELfV.png");
}
.footer-link4 {
  display: contents;
}
.footer-container6 {
  width: 44px;
  cursor: pointer;
  height: 44px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("public/Icons/twitch-200h.png");
  background-position: center;
}
.footer-container6:hover {
  width: 47px;
  height: 47px;
  background-image: url("https://i.imgur.com/jnTPJhX.png");
}

.footer-root-class-name1 {
  width: 100%;
}






@media(max-width: 991px) {
  .footer-container1 {
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container1 {
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-image {
    width: 90%;
    height: var(--dl-size-size-medium);
    margin-bottom: 5px;
  }
  .footer-container1 {
    width: 352px;
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
    height: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}

.testimonials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.testimonials-section {
  width: 100%;
  height: 110%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(221, 224, 225, 0) 0.00%,rgba(84, 200, 255, 0) 4.00%,rgb(255, 167, 225) 56.00%,rgba(84, 200, 255, 0) 100.00%);
}
.testimonials-container01 {
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonials-container02 {
  flex: 0 0 auto;
  width: 762px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials-container03 {
  flex: 0 0 auto;
  width: 762px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials-hero {
  width: 762px;
  height: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-main {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 97%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 11px;
}
.testimonials-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.testimonials-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.testimonials-image1 {
  width: 30%;
  height: 100%;
  max-width: 340px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.testimonials-heading {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.testimonials-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-image2 {
  width: 100%;
  margin-top: 3px;
  object-fit: cover;
  margin-bottom: 4px;
}
.testimonials-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0);
}
.testimonials-container06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 1600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: flex-start;
  padding-top: 11px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(255, 204, 237) 5.00%,rgb(221, 0, 152) 99.00%);
}
.testimonials-text {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
}
.testimonials-text3 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonials-container08 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.testimonials-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-image3 {
  width: 100%;
  margin-top: 3px;
  object-fit: cover;
  margin-bottom: 4px;
}
@media(max-width: 991px) {
  .testimonials-section {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .testimonials-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .testimonials-content {
    position: relative;
    align-items: center;
  }
  .testimonials-main {
    align-items: center;
  }
  .testimonials-image {
    display: none;
  }
  .testimonials-image1 {
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-heading {
    text-align: center;
  }
  .testimonials-text {
    text-align: center;
  }
  .testimonials-text3 {
    text-align: center;
  }
  .testimonials-container08 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .testimonials-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .testimonials-image {
    display: none;
  }
  .testimonials-image1 {
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-heading {
    font-size: 40px;
  }
  .testimonials-container06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonials-content {
    padding-bottom: 3px;
  }
  .testimonials-header {
    align-items: flex-start;
  }
  .testimonials-image {
    width: 40%;
    height: 100%;
    display: flex;
    align-self: center;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-image1 {
    display: none;
  }
  .testimonials-heading {
    max-width: 280px;
  }
  .testimonials-container06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
