<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <footer class="footer-footer">
      <img
        alt="logo"
        src="public/Branding/golt-logo-400w.png"
        class="footer-image"
      />
      <div class="footer-container1">
        <a
          href="https://discord.gg/RpAYvYT5DT"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link"
        >
          <div class="footer-container2"></div>
        </a>
        <a
          href="https://www.youtube.com/channel/UC9lhUhapaQ_e1dYt0yRgWGA"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link1"
        >
          <div class="footer-container3"></div>
        </a>
        <a
          href="mailto:guardianoflimitlesstruth@gmail.com?subject=SITE-"
          class="footer-link2"
        >
          <div class="footer-container4"></div>
        </a>
        <a
          href="https://www.instagram.com/guideoflimitlesstruth/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link3"
        >
          <div class="footer-container5"></div>
        </a>
        <a
          href="https://www.twitch.tv/guideoflimitlesstruth"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link4"
        >
          <div class="footer-container6"></div>
        </a>
      </div>
    </footer>
  </div>
</div>
