<div>
  <link href="./footer-testing.css" rel="stylesheet" />
  <div class="footer-testing-container">
    <footer class="footer-testing-footer">
      <img
        alt="logo"
        src="public/Branding/golt-logob-200h.png"
        class="footer-testing-image"
      />
      <div class="footer-testing-container1">
        <a
          href="https://discord.gg/RpAYvYT5DT"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link"
        >
          <div class="footer-testing-container2"></div>
        </a>
        <a
          href="https://www.youtube.com/channel/UC9lhUhapaQ_e1dYt0yRgWGA"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link01"
        >
          <div class="footer-testing-container3"></div>
        </a>
        <a
          href="mailto:guardianoflimitlesstruth@gmail.com?subject=SITE-"
          class="footer-testing-link02"
        >
          <div class="footer-testing-container4"></div>
        </a>
        <a
          href="https://www.instagram.com/guideoflimitlesstruth/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link03"
        >
          <div class="footer-testing-container5"></div>
        </a>
        <a
          href="https://www.twitch.tv/guideoflimitlesstruth"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link04"
        >
          <div class="footer-testing-container6"></div>
        </a>
      </div>
    </footer>
    <footer class="footer-testing-footer1">
      <img
        alt="logo"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/52577359-0cc4-42d9-9846-203562f4d316?org_if_sml=124712"
        class="footer-testing-image1"
      />
      <div class="footer-testing-container7">
        <a
          href="https://discord.gg/RpAYvYT5DT"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link05"
        >
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/29c42592-98b6-4899-b3ec-f7dc6bb82412?org_if_sml=14442"
            class="footer-testing-image2"
          />
        </a>
        <a
          href="https://www.youtube.com/channel/UC9lhUhapaQ_e1dYt0yRgWGA"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link06"
        >
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/c30203ea-b25d-49d9-a305-95468c0e94e6?org_if_sml=13296"
            class="footer-testing-image3"
          />
        </a>
        <a
          href="mailto:guardianoflimitlesstruth@gmail.com?subject=SITE-"
          class="footer-testing-link07"
        >
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/a9a5e703-881d-470d-b7a2-022ad5dc417b?org_if_sml=15042"
            class="footer-testing-image4"
          />
        </a>
        <a
          href="https://www.instagram.com/guideoflimitlesstruth/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link08"
        >
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/c46447ae-dc10-4db3-827f-faa388db709c?org_if_sml=15172"
            class="footer-testing-image5"
          />
        </a>
        <a
          href="https://www.twitch.tv/guideoflimitlesstruth"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-testing-link09"
        >
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c444808c-576c-421e-b40a-c4e3bc218822/5df3b1cb-b2ad-4637-9b0c-c98789d206ea?org_if_sml=11486"
            class="footer-testing-image6"
          />
        </a>
      </div>
    </footer>
  </div>
</div>
