<div>
  <link href="./image-slider1.css" rel="stylesheet" />
  <div class="image-slider1-container">
    <div class="image-slider1-container1">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider1-image"
      />
      <div class="image-slider1-left-button">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider1-right-button">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon02">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider1-container2">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider1-image1"
      />
      <div class="image-slider1-left-button1">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon04">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider1-right-button1">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon06">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider1-container3">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider1-image2"
      />
      <div class="image-slider1-left-button2">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon08">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider1-right-button2">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon10">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider1-container4">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider1-image3"
      />
      <div class="image-slider1-left-button3">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon12">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider1-right-button3">
        <svg viewBox="0 0 1024 1024" class="image-slider1-icon14">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
