<div>
  <link href="./image-slider.css" rel="stylesheet" />
  <div class="image-slider-container">
    <div class="image-slider-slider0">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider-image"
      />
      <div class="image-slider-left-button">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider-right-button">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon02">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider-slider1">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider-image1"
      />
      <div class="image-slider-left-button1">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon04">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider-right-button1">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon06">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider-slider2">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider-image2"
      />
      <div class="image-slider-left-button2">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon08">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider-right-button2">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon10">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="image-slider-slider3">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixid=M3w5MTMyMXwxfDF8YWxsfDF8fHx8fHwyfHwxNjg0OTI5Njk2fA&ixlib=rb-4.0.3&w=1500"
        class="image-slider-image3"
      />
      <div class="image-slider-left-button3">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon12">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="image-slider-right-button3">
        <svg viewBox="0 0 1024 1024" class="image-slider-icon14">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
