<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html/dist/default/lib.umd.js"
  ></script>
  <link href="./intro-video.css" rel="stylesheet" />
  <section class="intro-video-section">
    <div class="intro-video-div">
      <dangerous-html
        html="<iframe style='border: 10px solid #FFFFFF; overflow: hidden; border-radius: 10px;' width='100%' height='100%' frameborder='0' src='https://www.youtube.com/embed/h9Q3x4TQdgI' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen></iframe>"
      ></dangerous-html>
    </div>
  </section>
</div>
