.intro-video-section {
  width: 100%;
  height: 650px;
  display: flex;
  position: relative;
  box-shadow: 5px 0px 15px 1px rgba(2, 2, 2, 0.25);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(255, 133, 226) 1.00%,rgb(195, 0, 236) 99.00%);
}
.intro-video-div {
  width: 600px;
  cursor: pointer;
  height: 80%;
  align-self: center;
  transition: 0.3s;
}

.intro-video-root-class-name {
  height: 400px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0.00%,rgb(255, 165, 195) 38.00%,rgb(255, 112, 145) 63.00%,rgba(255, 255, 255, 0.38) 100.00%);
}
.intro-video-root-class-name1 {
  height: 400px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-size: cover,auto;
  background-image: bb7e43d3-a5f4-479c-94a5-5ab02d92c7e6,linear-gradient(135deg, rgb(0, 219, 255) 0.00%,rgb(0, 122, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.intro-video-root-class-name2 {
  height: 400px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-size: cover,auto;
  background-image: url("/background-golt-site43-200h.png"),linear-gradient(135deg, rgb(0, 219, 255) 0.00%,rgb(0, 122, 255) 100.00%);
  background-repeat: auto,cover;
  background-position: top left;
}
@media(max-width: 991px) {
  .intro-video-section {
    height: 428px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .intro-video-div {
    width: 60%;
    align-self: center;
  }
  .intro-video-root-class-name {
    margin-top: var(--dl-space-space-oneandhalfunits);
    background-image: linear-gradient(135deg, rgb(0, 219, 255) 0.00%,rgb(0, 122, 255) 100.00%);
  }
  .intro-video-root-class-name1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .intro-video-root-class-name2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .intro-video-div {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .intro-video-section {
    height: 238px;
  }
  .intro-video-div {
    width: 80%;
  }
}
