.navbar-navbar {
  width: 100%;
  height: 136px;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: auto;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: 21px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 28px;
}
.navbar-navlink {
  display: contents;
}
.navbar-branding-logo {
  width: 379px;
  cursor: pointer;
  height: auto;
  align-self: center;
  box-sizing: content-box;
  transition: 0.3s;
  text-decoration: none;
}
.navbar-branding-logo:hover {
  width: 389px;
}
.navbar-nav-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 100px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-nav-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-button {
  flex: 0 0 auto;
  width: 175px;
  height: 60px;
  display: flex;
  align-self: center;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 23, 0.43);
  transition: 0.3s;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(315deg, rgb(0, 76, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.navbar-button:hover {
  width: 180px;
  height: 65px;
  max-width: auto;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 23, 0.43);
  max-height: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 5px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  background-image: radial-gradient(circle at center, rgb(0, 213, 255) 0.00%,rgb(0, 76, 255) 99.00%);
}
.navbar-text {
  color: #ffffff;
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: center;
  font-family: Poppins;
}
.navbar-root-class-name {
  max-width: 100%;
  background-color: #ffffff;
}
.navbar-root-class-name1 {
  max-width: auto;
  background-color: #ffffff;
}
.navbar-root-class-name2 {
  background-color: #ffffff;
}
.navbar-root-class-name3 {
  background-color: #ffffff;
}
.navbar-root-class-name4 {
  background-color: #ffffff;
}
.navbar-root-class-name5 {
  background-color: #ffffff;
}
.navbar-root-class-name6 {
  max-width: 100%;
  background-color: #ffffff;
}
.navbar-root-class-name7 {
  max-width: 100%;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .navbar-branding-logo {
    margin: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .navbar-nav-content {
    display: flex;
    margin-left: 111px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
    padding-top: 14px;
    padding-bottom: 12px;
    justify-content: center;
  }
  .navbar-branding-logo {
    top: 0px;
    left: 0px;
    width: 303px;
    bottom: 0px;
    height: 121px;
    margin: auto;
    align-self: center;
  }
  .navbar-nav-content {
    width: 356px;
    height: 102px;
    display: flex;
    margin-left: 37px;
  }
  .navbar-nav-links {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: 6px;
  }
  .navbar-branding-logo {
    width: 195px;
    height: auto;
    max-width: 200px;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
  }
  .navbar-nav-content {
    width: 100%;
    height: 100%;
    align-self: center;
    margin-left: 5px;
    flex-direction: row;
  }
  .navbar-button {
    width: 105px;
    height: 35px;
    max-width: 117px;
    align-self: center;
    max-height: 43px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .navbar-text {
    width: auto;
    height: auto;
    font-size: 11px;
    align-self: center;
    text-align: center;
  }
}
