<div>
  <link href="./pricing-card.css" rel="stylesheet" />
  <div class="pricing-card-pricing-card">
    <span class="pricing-card-text"><span>Spiritual Session</span></span>
    <div class="pricing-card-container">
      <ul class="pricing-card-ul list">
        <li class="pricing-card-li list-item">
          <span class="pricing-card-text01">
            <span>Conversation for self-help and healing</span>
          </span>
        </li>
        <li class="pricing-card-li1 list-item">
          <span class="pricing-card-text02">
            <span>
              Flexible focus ranging from general concepts to specific questions
              and struggles
            </span>
          </span>
        </li>
        <li class="pricing-card-li2 list-item">
          <span class="pricing-card-text03">
            <span>
              Suitable for individuals new to spirituality, seekers of guidance,
              and those looking for alternative perspectives
            </span>
          </span>
        </li>
        <li class="pricing-card-li3 list-item">
          <span class="pricing-card-text04">
            <span>
              Can serve as a therapeutic session to broaden perspectives
            </span>
          </span>
        </li>
        <li class="pricing-card-li4 list-item">
          <span class="pricing-card-text05">
            <span>Duration: 60 minutes</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="pricing-card-container1">
      <img
        alt="image"
        src="public/Images/20-1500h.png"
        class="pricing-card-image"
      />
      <span class="pricing-card-text06"><span>11</span></span>
      <span class="pricing-card-text07"><span>€</span></span>
    </div>
    <a
      href="https://booking.setmore.com/scheduleappointment/2687089c-bcd4-4858-add6-46fd40898130/services/3a46f629-71e7-4695-8991-6d656268b54e"
      target="_blank"
      rel="noreferrer noopener"
      class="pricing-card-link"
    >
      <span>Book Now</span>
    </a>
    <a href="spiritual-session.html" class="pricing-card-navlink">
      <span class="pricing-card-text08">See Details</span>
      <br />
    </a>
  </div>
</div>
