.social-icon-container {
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.social-icon-container1 {
  flex: 0 0 auto;
  width: 229px;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/Icons/discord-300w.png");
}
.social-icon-container1:hover {
  background-size: cover;
  background-image: url("public/Icons/hibiscus-fav2-300w.png");
}
