.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-slider-width-glidejs {
  width: 100%;
}
.page-slider {
  flex: 0 0 auto;
  align-items: flex-start;
  flex-direction: column;
}
.page-slides {
  flex: 0 0 auto;
  width: 1200px;
  height: 471px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.page-slide-1 {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.page-slide-2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-700);
}
.page-slide-3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-danger-700);
}
.page-controls {
  gap: var(--dl-space-space-unit);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  justify-content: center;
}
.page-button-left {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  box-shadow: 0 0 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.page-icon {
  width: 24px;
  height: 24px;
}
.page-button-right {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  border-top: 24px;
  box-shadow: 0 0 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.page-icon2 {
  width: 24px;
  height: 24px;
}
.page-container2 {
  display: contents;
}
