.testimonials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonials-section {
  width: 100%;
  height: 110%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgba(255, 165, 195, 0.54) 54.00%,rgba(246, 242, 244, 0) 100.00%);
}
.testimonials-container1 {
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonials-container2 {
  flex: 0 0 auto;
  width: 762px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials-container3 {
  flex: 0 0 auto;
  width: 762px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials-hero {
  width: 762px;
  height: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-main {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 97%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 11px;
}
.testimonials-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.testimonials-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.testimonials-image1 {
  width: 30%;
  height: 100%;
  max-width: 340px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.testimonials-heading {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: Merienda;
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.testimonials-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0);
}
.testimonials-container4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 1600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: flex-start;
  padding-top: 11px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(255, 208, 208) 4.00%,rgb(255, 98, 178) 100.00%);
}
.testimonials-text {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  align-self: center;
  font-family: Merienda;
  font-weight: 600;
}
.testimonials-text3 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Merienda;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonials-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .testimonials-section {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .testimonials-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .testimonials-content {
    position: relative;
    align-items: center;
  }
  .testimonials-main {
    align-items: center;
  }
  .testimonials-image {
    display: none;
  }
  .testimonials-image1 {
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-heading {
    text-align: center;
  }
  .testimonials-text {
    text-align: center;
  }
  .testimonials-text3 {
    text-align: center;
  }
  .testimonials-container6 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .testimonials-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .testimonials-image {
    display: none;
  }
  .testimonials-image1 {
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-heading {
    font-size: 40px;
  }
  .testimonials-container4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonials-content {
    padding-bottom: 3px;
  }
  .testimonials-header {
    align-items: flex-start;
  }
  .testimonials-image {
    width: 40%;
    height: 100%;
    display: flex;
    align-self: center;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .testimonials-image1 {
    display: none;
  }
  .testimonials-heading {
    max-width: 280px;
  }
  .testimonials-container4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
