.button-button {
  width: auto;
  height: auto;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 77, 126, 0.48);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 19px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
  background-image: linear-gradient(135deg, rgb(0, 239, 255) 2%, rgb(0, 141, 255) 100%);
}
.button-button:hover {
  display: flex;
  opacity: 1;
  background-image: linear-gradient(135deg, rgb(0, 153, 255) 0.00%,rgb(0, 252, 255) 100.00%);
}
.button-text {
  color: rgb(255, 255, 255);
  align-self: auto;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.button-text1 {
  font-style: normal;
  font-weight: 300;
}
.button-text2 {
  font-weight: 200;
}
@media(max-width: 991px) {
  .button-button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .button-button {
    left: 0px;
    right: 0px;
    bottom: 8%;
    position: static;
  }
}
@media(max-width: 479px) {
  .button-button {
    top: 29px;
    left: 0px;
    width: 201px;
    height: 43px;
    position: absolute;
  }
  .button-text {
    color: rgb(255, 255, 255);
  }
}
