.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: center;
  box-shadow: 5px -5px 15px 1px rgba(103, 103, 103, 0.41);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 28px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 12px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.imgur.com/geRxe6k.png');
}
.footer-image {
  width: 399px;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-bottom: 6px;
}
.footer-container1 {
  width: 334px;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-container2 {
  width: 65px;
  cursor: pointer;
  height: 65px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.footer-container2:hover {
  width: 68px;
  height: 68px;
  background-image: url("https://i.imgur.com/t9EOnTY.png");
}
.footer-link1 {
  display: contents;
}
.footer-container3 {
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.footer-container3:hover {
  width: 53px;
  height: 53px;
  background-image: url("https://i.imgur.com/bCwQUur.png");
}
.footer-link2 {
  display: contents;
}
.footer-container4 {
  width: 48px;
  cursor: pointer;
  height: 48px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.footer-container4:hover {
  width: 51px;
  height: 51px;
  background-image: url("https://i.imgur.com/vLJkQhA.png");
}
.footer-link3 {
  display: contents;
}
.footer-container5 {
  width: 44px;
  cursor: pointer;
  height: 44px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.footer-container5:hover {
  width: 47px;
  height: 47px;
  background-image: url("https://i.imgur.com/D4wELfV.png");
}
.footer-link4 {
  display: contents;
}
.footer-container6 {
  width: 44px;
  cursor: pointer;
  height: 44px;
  display: flex;
  margin-right: 14px;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.footer-container6:hover {
  width: 47px;
  height: 47px;
  background-image: url("https://i.imgur.com/jnTPJhX.png");
}
.footer-root-class-name1 {
  width: 100%;
}






@media(max-width: 991px) {
  .footer-container1 {
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container1 {
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: 230px;
    padding: var(--dl-space-space-unit);
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-image {
    width: 310px;
    height: auto;
    margin-bottom: 5px;
    padding-right: 0px;
  }
  .footer-container1 {
    width: 352px;
    height: auto;
  }
  .footer-container2 {
    width: 65px;
  }
  .footer-container3 {
    width: 50px;
    height: 50px;
  }
  .footer-container4 {
    width: Small;
  }
  .footer-container5 {
    width: 44px;
  }
  .footer-container6 {
    width: 44px;
  }
}
