.navbar-navbar {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1000;
  position: fixed;
  flex-grow: 4;
  max-width: auto;
  align-self: auto;
  max-height: var(--dl-size-size-xxlarge);
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
  background-image: radial-gradient(circle at right bottom, rgba(6, 6, 6, 0.54) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
.navbar-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container01 {
  width: 35%;
  height: 90px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-container02 {
  width: 55%;
  height: 63px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.navbar-pasted-image {
  width: auto;
  height: 50%;
  margin-bottom: 4px;
}
.navbar-pasted-image1 {
  width: 100%;
  height: auto;
  align-self: center;
}
.navbar-container03 {
  flex: 0 0 auto;
  width: 35%;
  height: 1px;
  display: none;
  align-self: flex-start;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D7C5BAA6;
}
.navbar-container03:hover {
  width: 100%;
}
.navbar-container04 {
  width: 65%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
}
.navbar-link {
  display: contents;
}
.navbar-container05 {
  width: 20%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.navbar-text {
  color: #cab3a0;
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  align-self: center;
  text-align: center;
  font-family: "NeverMind Rounded";
  letter-spacing: 3px;
}
.navbar-link1 {
  display: contents;
}
.navbar-container06 {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.navbar-text1 {
  color: #cab3a0;
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  font-family: "NeverMind Rounded";
  letter-spacing: 3px;
}
.navbar-link2 {
  display: contents;
}
.navbar-container07 {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.navbar-text2 {
  color: #cab3a0;
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  text-align: center;
  font-family: "NeverMind Rounded";
  letter-spacing: 3px;
}
.navbar-container08 {
  flex: 0 0 auto;
  width: 35%;
  height: 1px;
  display: none;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D7C5BAA6;
}
.navbar-divider {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container09 {
  flex: 0 0 auto;
  width: 35%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D7C5BAA6;
}
.navbar-container10 {
  flex: 0 0 auto;
  width: 65%;
  height: 2px;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D7C5BAA6;
}
.navbar-root-class-name {
  max-width: 100%;
}
.navbar-root-class-name1 {
  height: 116px;
  max-width: auto;
  background-color: #ffffff;
  background-image: url('https://i.postimg.cc/3JqcKmD3/sharpend-hero-Recovered-smoothed-8bit.png');
}
.navbar-root-class-name2 {
  background-color: #ffffff;
}
.navbar-root-class-name3 {
  background-color: #ffffff;
}
.navbar-root-class-name4 {
  background-color: #ffffff;
}
.navbar-root-class-name5 {
  background-color: #ffffff;
}
.navbar-root-class-name6 {
  max-width: 100%;
  background-color: #ffffff;
}
.navbar-root-class-name7 {
  max-width: 100%;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .navbar-container01 {
    padding-left: 10px;
  }
  .navbar-container02 {
    width: 70%;
  }
  .navbar-container03 {
    display: none;
  }
  .navbar-text {
    width: 100%;
    height: auto;
  }
  .navbar-container08 {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    width: 100%;
    max-width: 100%;
    max-height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-container {
    flex-direction: column;
  }
  .navbar-container01 {
    width: auto;
    height: var(--dl-size-size-medium);
    max-width: 35%;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    padding-left: 0px;
    justify-content: flex-start;
  }
  .navbar-container02 {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    max-height: auto;
    padding-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .navbar-pasted-image1 {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
  }
  .navbar-container03 {
    width: 80%;
    display: flex;
    align-self: center;
  }
  .navbar-container04 {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
  }
  .navbar-container05 {
    width: 33%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar-text {
    font-size: 2vw;
    letter-spacing: 2px;
  }
  .navbar-container06 {
    align-self: stretch;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
  }
  .navbar-text1 {
    font-size: 2vw;
    align-self: center;
    letter-spacing: 2px;
  }
  .navbar-container07 {
    width: auto;
    height: auto;
    margin-right: 0px;
    flex-direction: row;
  }
  .navbar-text2 {
    font-size: 2vw;
    letter-spacing: 2px;
  }
  .navbar-container08 {
    width: 100%;
    display: flex;
    align-self: center;
  }
  .navbar-divider {
    display: none;
  }
  .navbar-container09 {
    display: none;
  }
  .navbar-container10 {
    display: none;
  }
  .navbar-root-class-name {
    height: 200px;
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    height: var(--dl-size-size-xlarge);
    padding-top: var(--dl-space-space-halfunit);
    flex-direction: column;
    background-image: radial-gradient(circle at right bottom, rgba(6, 6, 6, 0.54) 0.00%,rgba(0, 0, 0, 0) 100.00%);
  }
  .navbar-container {
    height: 100%;
    flex-direction: column;
  }
  .navbar-container01 {
    width: auto;
    height: 50%;
    max-width: 45%;
    align-self: center;
    align-items: center;
    padding-left: 0px;
    justify-content: center;
  }
  .navbar-container02 {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .navbar-pasted-image {
    width: auto;
    height: 45%;
  }
  .navbar-pasted-image1 {
    width: 100%;
    height: auto;
  }
  .navbar-container04 {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .navbar-text {
    font-size: 3.5vw;
  }
  .navbar-text1 {
    font-size: 3vw;
  }
  .navbar-text2 {
    font-size: 3vw;
  }
  .navbar-root-class-name {
    height: 156px;
    background-image: radial-gradient(circle at right bottom, rgba(6, 6, 6, 0.54) 0.00%,rgba(0, 0, 0, 0) 100.00%);
  }
}
